{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ workout.createdAt|date('Y-m-d') }}</h2>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="row">
        <div class="col-12 col-md-6">
            {{ form_widget(form.name) }}
        </div>
        <div class="col-4 col-md-2">
            {{ form_widget(form.repetition) }}
        </div>
        <div class="col-4 col-md-2">
            {{ form_widget(form.weight) }}
        </div>  
        <div class="col-4 col-md-2">
                {{ form_widget(form.submit) }}
        </div>
    </div>
    {{ form_end(form) }}

    <div id="workout_details"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/babel" src="{{ asset('../assets/js/workout/details.js') }}"></script>
    <script type="text/babel">
        ReactDOM.render(<WorkoutDetails workout_id="{{ workout.id }}" />, document.getElementById('workout_details'));
    </script>
{% endblock %}
