{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ workout.createdAt|date('Y-m-d') }}</h2>
    <h2>
        <div id="workout_date"></div>
    </h2>
    <div id="excercise_form"></div>
    <div id="workout_details"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/babel" src="{{ asset('../assets/js/workout/details.js') }}"></script>
    
    <script type="text/babel" src="{{ asset('../assets/js/excercise/add_form.js') }}"></script>
    <script type="text/babel">
        let excercieList = ReactDOM.render(<WorkoutDetails workout_id="{{ workout.id }}" />, document.getElementById('workout_details'));
        {# ReactDOM.render(<AddExcerciseForm excercise_list={excercieList} workout_id="{{ workout.id }}" />, document.getElementById('excercise_form')); #}
    </script>
    
{% endblock %}
