{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ workout.createdAt|date('Y-m-d') }}</h2>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="row">
        <div class="col-12 col-md-6">
            {{ form_widget(form.name) }}
        </div>
        <div class="col-4 col-md-2">
            {{ form_widget(form.repetition) }}
        </div>
        <div class="col-4 col-md-2">
            {{ form_widget(form.weight) }}
        </div>  
        <div class="col-4 col-md-2">
                {{ form_widget(form.submit) }}
        </div>
    </div>
    {{ form_end(form) }}

    {% for excercise in excercises %}
        <div class="row excercise">
            <div class="col-12 col-md-6 font-weight-bold">
                {{ excercise.name }}
            </div>
            <div class="col-4 col-md-2">
                {{ excercise.repetition }}
            </div>
            <div class="col-4 col-md-2">
                {{ excercise.weight }}
            </div>  
            <div class="col-4 col-md-2 ">
                <a class="btn btn-primary" href="{{ path('excercise_remove', { 'excerciseId': excercise.id }) }}">Remove</a>
            </div> 
        </div>
    {% endfor %}
{% endblock %}
